{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the pricing benefit details for activity charge, periodic charge or interest rates for enterprise product pricing arrangement or package",
    "version" : "v4.0.0",
    "title" : "Enterprise product pricing"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v4.0.0/",
  "tags" : [ {
    "name" : "RETAIL"
  } ],
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/enterprise/pricing/packages/{packageId}/pricingBenefits" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the package pricing benefit details",
        "description" : "Retrieves the package pricing benefit details for the package arrangement and the linked contracts or accounts within a specific period. The period start date and end date should be provided to fetch the total package pricing benefits applied for the linked arrangements",
        "operationId" : "getPackageStatement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "packageId",
          "in" : "path",
          "description" : "Indicates the arrangement reference of the package",
          "required" : true,
          "type" : "string",
          "example": "AA23108RJ9GJ"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Contains the date on which the transaction or payment gets initiated.",
          "required" : true,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned",
          "required" : true,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PackageStatementResponse",
            "schema" : {
              "$ref" : "#/definitions/PackageStatementResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/arrangements/{baseContractReference}/activities" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the fee amount applicable for any activity charge event of an account",
        "description" : "Retrieves a non-binding quote(online quotation) with fee and benefit details for an arrangement when activity is triggered. E.g To fetch fees and cashback details applicable for a new account creation, the user must input the event 'NewAccount' as one of the query parameters in the API. This will return the charge and cashback details along with any benefits if applicable",
        "operationId" : "getActivityChargeAmount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "baseContractReference",
          "in" : "path",
          "description" : "Contains the identifier for the contract or account in which the event is raised in the core system. This would typically be a unique reference to identify the specific contract or account in the system",
          "required" : true,
          "type" : "string",
          "example": "AA23108PTLRW"
        }, {
          "name" : "systemReference",
          "in" : "query",
          "description" : "Contains the identifier for the system in which the event originated from. For ex, ‘Hogan’ or ‘TransactAccounts’ etc",
          "required" : true,
          "type" : "string",
          "example": "coretransact"
        }, {
          "name" : "companyReference",
          "in" : "query",
          "description" : "Contains the identifier of the underlying Entity or Company or Branch",
          "required" : true,
          "type" : "string",
          "example": "GB0010001"
        }, {
          "name" : "eventName",
          "in" : "query",
          "description" : "Indicates the name of the event that is understood by the Enterprise product pricing system.",
          "required" : true,
          "type" : "string",
          "example": "NewAccount"
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format",
          "required" : false,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Contains the channel in which the activity was performed. If pricing is not determined based on channel, then this is not significant",
          "required" : false,
          "type" : "string",
          "example": "BRANCH"
        }, {
          "name" : "branch",
          "in" : "query",
          "description" : "Contains the branch name/code in which the business activity was performed. If pricing is not determined based on branch, then this is not significant",
          "required" : false,
          "type" : "string",
          "example": "0001"
        }, {
          "name" : "lineOfBusiness",
          "in" : "query",
          "description" : "Contains the line of business in which the activity was performed. If pricing is not determined based on line of business, then this is not significant",
          "required" : false,
          "type" : "string",
          "example": "1"
        }, {
          "name" : "skipPricing",
          "in" : "query",
          "description" : "Flag to indicate if the product pricing benefit needs to be skipped or not.",
          "required" : false,
          "type" : "string",
          "example": "true"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ActivityChargeAmountResponse",
            "schema" : {
              "$ref" : "#/definitions/ActivityChargeAmountResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/arrangements/{baseContractReference}/periodicCharges" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the fee amount available for the periodic charge event",
        "description" : "Retrieves the fee amount details available for the periodic charge event. For example, the user has configured a monthly fee to be debited from the customer account every month. It will fetch the periodic charge/cashback applicable in an account",
        "operationId" : "getPeriodicChargesBenefit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "baseContractReference",
          "in" : "path",
          "description" : "Contains the identifier for the contract or account in which the event is raised in the core system. This would typically be a unique reference to identify the specific contract or account in the system",
          "required" : true,
          "type" : "string",
          "example": "AA2310827B44"
        }, {
          "name" : "systemReference",
          "in" : "query",
          "description" : "Contains the identifier for the system in which the event originated from. For ex, ‘Hogan’ or ‘TransactAccounts’ etc",
          "required" : true,
          "type" : "string",
          "example": "coretransact"
        }, {
          "name" : "companyReference",
          "in" : "query",
          "description" : "Contains the identifier of the underlying Entity or Company or Branch",
          "required" : true,
          "type" : "string",
          "example": "GB0010001"
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format",
          "required" : false,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Contains the channel in which the activity was performed. If pricing is not determined based on channel, then this is not significant",
          "required" : false,
          "type" : "string",
          "example": "BRANCH"
        }, {
          "name" : "branch",
          "in" : "query",
          "description" : "Contains the branch name/code in which the business activity was performed. If pricing is not determined based on branch, then this is not significant",
          "required" : false,
          "type" : "string",
          "example": "0001"
        }, {
          "name" : "lineOfBusiness",
          "in" : "query",
          "description" : "Contains the line of business in which the activity was performed. If pricing is not determined based on line of business, then this is not significant",
          "required" : false,
          "type" : "string",
          "example": "1"
        }, {
          "name" : "transactionReference",
          "in" : "query",
          "description" : "Contains the identifier for the transaction in the pricing system",
          "required" : false,
          "type" : "string",
          "example": "AAACT04108LIJY4"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PeriodicChargesBenefitResponse",
            "schema" : {
              "$ref" : "#/definitions/PeriodicChargesBenefitResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/arrangements/{baseContractReference}/rates" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the interest rate details applicable for an account",
        "description" : "Retrieves the interest rate along with the corresponding benefits that are applicable to a specific account along with any benefits if applicable.",
        "operationId" : "getInterestRateBenefit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "baseContractReference",
          "in" : "path",
          "description" : " Contains the identifier for the contract or account in which the event is raised in the core system. This would typically be a unique reference to identify the specific contract or account in the core system.",
          "required" : true,
          "type" : "string",
          "example": "AA23108ZX5S3"
        }, {
          "name" : "systemReference",
          "in" : "query",
          "description" : "Contains the identifier for the system in which the event originated from. For ex, ‘Hogan’ or ‘TransactAccounts’ etc",
          "required" : true,
          "type" : "string",
          "example": "coretransact"
        }, {
          "name" : "companyReference",
          "in" : "query",
          "description" : "Contains the identifier of the underlying Entity or Company or Branch",
          "required" : true,
          "type" : "string",
          "example": "GB0010001"
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format",
          "required" : false,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "InterestRateBenefitResponse",
            "schema" : {
              "$ref" : "#/definitions/InterestRateBenefitResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/products/{productId}/rates" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the interest rates for the given product",
        "description" : "Retrieves the interest rates with benefits applied for the given product. For example, the user wants to know the benefit applied for different interest conditions such as credit interest, debit interest available in the product, and interest rates along with all the benefits is returned",
        "operationId" : "getRequestRate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productId",
          "in" : "path",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : true,
          "type" : "string",
          "example": "TermDeposits"
        }, {
          "name" : "partyId",
          "in" : "query",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "required" : false,
          "type" : "string",
          "example": "2324728766"
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format",
          "required" : false,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "rateName",
          "in" : "query",
          "description" : "Contains the identifier for the underlying interest rate component(s). Eg: Credit interest, Debit Interest, Penalty Interest etc",
          "required" : false,
          "type" : "string",
          "example": "Deposit Interest"
        }, {
          "name" : "amount",
          "in" : "query",
          "description" : "This is the payment amount",
          "required" : false,
          "type" : "string",
          "example": "10000"
        }, {
          "name" : "tenor",
          "in" : "query",
          "description" : "Contains the term of the deposits or loans contract",
          "required" : false,
          "type" : "string",
          "example": "1Y"
        }, {
          "name" : "rolloverPeriod",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "example": "6M"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "RequestRateResponse",
            "schema" : {
              "$ref" : "#/definitions/RequestRateResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/products/{productId}/eligibilities" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the eligibility qualified details for the given party for the product",
        "description" : "Retrieves the eligibility of a customer based on the product id provided",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productId",
          "in" : "path",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : true,
          "type" : "string",
          "example": "ChildSavingsAccount"
        }, {
          "name" : "partyId",
          "in" : "query",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "required" : true,
          "type" : "string",
          "example": "2324728766"
        }, {
          "name" : "partyRole",
          "in" : "query",
          "description" : "Contains the identifier used for the role played by the party or customer in the contract or account",
          "required" : false,
          "type" : "string",
          "example": "OWNER"
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format",
          "required" : false,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "EligibilityDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/EligibilityDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/arrangements/{baseContractReference}/transactions" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the fee amount applicable for any business transaction of an account",
        "description" : "Retrieves a non-binding quote(online quotation) with fee and benefit details for an arrangement when a transaction  is triggered. For example: to fetch the fee or cashback details applicable for an ATM withdrawal, the user must input the event 'ATMWithdrawal' as one of the query parameters. The user must send the transaction amount and currency as part of the API,  and the system will immediately fetch the applicable charges or cashback details along with any other benefit if applicable.",
        "operationId" : "getTransactionPricingRequest",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "baseContractReference",
          "in" : "path",
          "description" : "Contains the identifier for the contract or account in which the event is raised in the core system. This would typically be a unique reference to identify the specific contract or account in the core system.",
          "required" : true,
          "type" : "string",
          "example": "AA2310801BX5"
        }, {
          "name" : "systemReference",
          "in" : "query",
          "description" : "Contains the identifier for the system in which the event originated from. For ex, ‘Hogan’ or ‘TransactAccounts’ etc",
          "required" : true,
          "type" : "string",
          "example": "coretransact"
        }, {
          "name" : "companyReference",
          "in" : "query",
          "description" : "Contains the identifier of the underlying Entity or Company or Branch",
          "required" : true,
          "type" : "string",
          "example": "GB0010001"
        }, {
          "name" : "eventName",
          "in" : "query",
          "description" : "Indicates the name of the event that is understood by the Enterprise product pricing system.",
          "required" : true,
          "type" : "string",
          "example": "ATMWithdrawal"
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format",
          "required" : false,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "required" : true,
          "type" : "string",
          "example": "USD"
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Contains the channel in which the activity was performed. If pricing is not determined based on channel, then this is not significant",
          "required" : false,
          "type" : "string",
          "example": "BRANCH"
        }, {
          "name" : "branch",
          "in" : "query",
          "description" : "Contains the branch name/code in which the business activity was performed. If pricing is not determined based on branch, then this is not significant",
          "required" : false,
          "type" : "string",
          "example": "0001"
        }, {
          "name" : "lineOfBusiness",
          "in" : "query",
          "description" : "Contains the line of business in which the activity was performed. If pricing is not determined based on line of business, then this is not significant",
          "required" : false,
          "type" : "string",
          "example": "1"
        }, {
          "name" : "transactionCurrency",
          "in" : "query",
          "description" : "Indicates the currency of the transaction. For example GBP, USD etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionAmount",
          "in" : "query",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "required" : false,
          "type" : "string",
          "example": "10000"
        }, {
          "name" : "contractAmount",
          "in" : "query",
          "description" : "Contains the amount of the deposits or loans contract",
          "required" : false,
          "type" : "string",
          "example": "100000"
        }, {
          "name" : "contextName",
          "in" : "query",
          "description" : "Indicates specific context that needs to be passed in addition to the amount/currency to indicate more details. This context should influence the pricing.",
          "required" : false,
          "type" : "string",
           "example": "CashDeposit"
        }, {
          "name" : "contextValue",
          "in" : "query",
          "description" : "Indicates the value passed for the context name.",
          "required" : false,
          "type" : "string",
          "example": "10"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "TransactionPricingRequestResponse",
            "schema" : {
              "$ref" : "#/definitions/TransactionPricingRequestResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/products/{productId}/pricing" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the pricing for an event",
        "description" : "Retrieves the pricing for an event with respect to product's conditions",
        "operationId" : "getNewActivityPricing",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productId",
          "in" : "path",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : true,
          "type" : "string",
          "example": "TermDeposits"
        }, {
          "name" : "companyReference",
          "in" : "query",
          "description" : "Contains the identifier of the underlying Entity or Company or Branch",
          "required" : false,
          "type" : "string",
          "example": "GB0010001"
        }, {
          "name" : "eventName",
          "in" : "query",
          "description" : "Indicates the name of the event that is understood by the Enterprise product pricing system.",
          "required" : true,
          "type" : "string",
          "example": "ATMWithdrawal"
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format",
          "required" : false,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "required" : true,
          "type" : "string",
          "example": "USD"
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Contains the channel in which the activity was performed. If pricing is not determined based on channel, then this is not significant",
          "required" : false,
          "type" : "string",
          "example": "BRANCH"
        }, {
          "name" : "branch",
          "in" : "query",
          "description" : "Contains the branch name/code in which the business activity was performed. If pricing is not determined based on branch, then this is not significant",
          "required" : false,
          "type" : "string",
          "example": "0001"
        }, {
          "name" : "lineOfBusiness",
          "in" : "query",
          "description" : "Contains the line of business in which the activity was performed. If pricing is not determined based on line of business, then this is not significant",
          "required" : false,
          "type" : "string",
          "example": "1"
        }, {
          "name" : "partyReference",
          "in" : "query",
          "description" : "Contains the identifier used for the party or customer",
          "required" : true,
          "type" : "string",
          "example": "2324728766"
        }, {
          "name" : "partyRole",
          "in" : "query",
          "description" : "Contains the identifier used for the role played by the party or customer in the contract or account",
          "required" : false,
          "type" : "string",
          "example": "OWNER"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "NewActivityPricingResponse",
            "schema" : {
              "$ref" : "#/definitions/NewActivityPricingResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        },
        "deprecated" : true
      }
    },
    "/enterprise/pricing/arrangements/{arrangementId}/pricing/{transactionReference}" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the pricing details applied for a transaction using transaction reference",
        "description" : "Retrieves the pricing details such as fees, cashback and interest details etc., applied for a transaction. For example, the user wants more details about the benefit applied for particular transaction in an arrangement",
        "operationId" : "getPricingDetailsEventList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "example": "AA0935730HNJ"
        }, {
          "name" : "transactionReference",
          "in" : "path",
          "description" : "Contains the identifier for the transaction in the pricing system",
          "required" : true,
          "type" : "string",
          "example": "AAACT09357W8KJ818S"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PricingDetailsEventListResponse",
            "schema" : {
              "$ref" : "#/definitions/PricingDetailsEventListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/arrangements/packages/{packageId}/periodicCharges" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the periodic pricing that have happened on a package arrangement",
        "description" : "Retrieves the package details for the given package account number. The API returns the primary account number in the core system along with the product ID. This will be the account which is benefited from this package",
        "operationId" : "getPackagePeriodicPricing",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "packageId",
          "in" : "path",
          "description" : "Indicates the arrangement reference of the package",
          "required" : true,
          "type" : "string",
          "example": "AA23108RJ9GJ"
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format",
          "required" : false,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PackagePeriodicPricingResponse",
            "schema" : {
              "$ref" : "#/definitions/PackagePeriodicPricingResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/arrangements/packages/{packageId}" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the details of packages for the given package id",
        "description" : "Retrieves the package details for the given package account number. The API returns the primary account number in the core system along with the product ID. This will be the account which is benefited from this package",
        "operationId" : "getPackageDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "packageId",
          "in" : "path",
          "description" : "Indicates the arrangement reference of the package",
          "required" : true,
          "type" : "string",
          "example": "AA23108RJ9GJ"
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format",
          "required" : false,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PackageDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/PackageDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/parties/{partyId}/arrangements" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the details of contracts or accounts held by the party",
        "description" : "Retrieves the details of contracts held by the party.The API returns the account details held by the party in the core system along with the mirror account details created in the pricing system",
        "operationId" : "getCustomerHeldContracts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "partyId",
          "in" : "path",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "required" : true,
          "type" : "string",
          "example": "2324728766"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerHeldContractsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerHeldContractsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/arrangements/{baseContractReference}/events" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the details of events happened for an account in the pricing system",
        "description" : "Retrieves the details of events that occurred for an account in the pricing system by providing the account number of the core system as input",
        "operationId" : "getContractEventList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "baseContractReference",
          "in" : "path",
          "description" : "Contains the identifier for the contract or account in which the event is raised in the core system. This would typically be a unique reference to identify the specific contract or account in the system",
          "required" : true,
          "type" : "string",
          "example": "AA23108V74D4"
        }, {
          "name" : "systemReference",
          "in" : "query",
          "description" : "Contains the identifier for the system in which the event originated from. For ex, ‘Hogan’ or ‘TransactAccounts’ etc",
          "required" : true,
          "type" : "string",
          "example": "coretransact"
        }, {
          "name" : "companyReference",
          "in" : "query",
          "description" : "Contains the identifier of the underlying Entity or Company or Branch",
          "required" : true,
          "type" : "string",
          "example": "GB0010001"
        }, {
          "name" : "numberOfTransactions",
          "in" : "query",
          "description" : "Indicates the number of transactions performed on the contract or the account",
          "required" : false,
          "type" : "string",
          "example": "4"
        }, {
          "name" : "dateFrom",
          "in" : "query",
          "description" : "Indicates the end date till which the transactions or events performed on the contract or account is to be returned",
          "required" : false,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "dateTo",
          "in" : "query",
          "description" : "Indicates the start date from which the transactions or events performed on the contract or account is to be returned",
          "required" : false,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ContractEventListResponse",
            "schema" : {
              "$ref" : "#/definitions/ContractEventListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/arrangements/{baseContractReference}/relatedParties" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the list of all related parties for the given arrangement",
        "description" : "Retrieves the list of all related parties to the beneficial owner for the given arrangement. For example, Party A,Party B, Party C, Party D are existing customers, and the following relations are updated for Party A. Party B is spouse to Party A, Party C is child to Party A, Party D is parent to Party A.  If Party A is the query parameter for the API, the related parties of Party A, will be returned",
        "operationId" : "getCustomerRelatedArrangement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "baseContractReference",
          "in" : "path",
          "description" : "Contains the identifier for the contract or account in which the event is raised in the core system. This would typically be a unique reference to identify the specific contract or account in the system",
          "required" : true,
          "type" : "string",
          "example": "AA23108ZX5S3"
        }, {
          "name" : "systemReference",
          "in" : "query",
          "description" : "Contains the identifier for the system in which the event originated from. For ex, ‘Hogan’ or ‘TransactAccounts’ etc",
          "required" : true,
          "type" : "string",
          "example": "coretransact"
        }, {
          "name" : "companyReference",
          "in" : "query",
          "description" : "Contains the identifier of the underlying Entity or Company or Branch",
          "required" : true,
          "type" : "string",
          "example": "GB0010001"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerRelatedArrangementResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerRelatedArrangementResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/{pricingId}" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the pricing details for a specified pricing reference",
        "description" : "Retrieves the pricing details such as fee, cashback or interest details etc., available for a pricing reference. For example, the user wants to understand more details about the benefit applied for particular pricing in an arrangement E.g additional interest applied based on a condition",
        "operationId" : "getPricingDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "pricingId",
          "in" : "path",
          "description" : "Indicates the unique reference which will be generated for each pricing calculation which contains final fee or interest including pricing benefits",
          "required" : true,
          "type" : "string",
          "example": "AAPD093578KJ818X"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PricingDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/PricingDetailsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/evaluations/{evaluationId}" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the evaluation details based on evaluation reference",
        "description" : "Retrieves the evaluation details based on evaluation reference. Incase, if the product is configured with multiple pricing rules, for every rule evaluation in the pricing system, there will be a unique evaluation reference. This reference id generated at the time of rule evaluation is stored along with rule qualification as qualified or fail",
        "operationId" : "getPricingEvaluation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "evaluationId",
          "in" : "path",
          "description" : "Indicates the unique reference for the evaluation results of each and every rule run through pricing rules or activity restriction",
          "required" : true,
          "type" : "string",
          "example": "AAEV23108CKZDF"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PricingEvaluationResponse",
            "schema" : {
              "$ref" : "#/definitions/PricingEvaluationResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/arrangements/{arrangementId}/pricing" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the pricing details applied in an account",
        "description" : "Retrieves the base pricing details such fees, cashback and interest applied to an account along with any benefit applicable. E.g  A deposit product has a  cashback of $2 for new deposit and  interest of 3%, with additional interest of 0.2% as a benefit  belonging to specific segment. The system will return a interest rate of 3.2% if the customer belongs to that particular segment",
        "operationId" : "getArrangementPricing",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "example": "AA0935730HNJ"
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format",
          "required" : false,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "baseTransactionReference",
          "in" : "query",
          "description" : "Indicates the transaction reference which is triggered from external system like ‘Hogan’ or ‘TransactAccounts’ etc in which the accounts are maintained",
          "required" : false,
          "type" : "string",
          "example": "AAACT04108ASWE4R"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ArrangementPricingResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementPricingResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/parties/{partyId}/pricing" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the list of pricing details available for the customer or party",
        "description" : "Retrieves all the pricing details available for a customer. Each pricing detail has its unique pricing id with the base pricing value along with any benefit applied. The benefit details are returned in the 'adjust value' parameter",
        "operationId" : "getCustomerPricing",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "partyId",
          "in" : "path",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "required" : true,
          "type" : "string",
          "example": "2327739396"
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format",
          "required" : false,
          "type" : "string",
          "example": "20230418"
        }, {
          "name" : "baseTransactionReference",
          "in" : "query",
          "description" : "Indicates the transaction reference which is triggered from external system like ‘Hogan’ or ‘TransactAccounts’ etc in which the accounts are maintained",
          "required" : false,
          "type" : "string",
          "example": "AAACT09357X3RGW"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerPricingResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerPricingResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/arrangements/simulations/{simulationReference}/pricing" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the pricing details of a simulated quotation by providing a user defined quotation reference or system generated quotation reference",
        "description" : "Retrieves the simulated pricing details for the simulation done earlier by providing the quotation reference number generated from the POST API. Adjust API allows manual adjustments to the pricing. As part of the GET simulation API along with the quotation reference number will provide the details of base pricing along with adjusted pricing as well. If no adjustments were done, the system will generate the simulated pricing only",
        "operationId" : "getSimPricingDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "simulationReference",
          "in" : "path",
          "description" : "Indicates the reference id for simulation activity",
          "required" : true,
          "type" : "string",
          "example": "AASIM2310800KJ14BF"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "SimPricingDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/SimPricingDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/enterprise/pricing/arrangements/{baseContractReference}/pricingAdjustments" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the manual pricing adjustment details for an arrangement",
        "description" : "This function allows the user to obtain the details of any manual price adjustments made in an arrangement. The system provides information such as the date of expiry, the type of adjustment made (including adjustments from a base amount, waivers, overrides, etc.), and the adjustment amount. This feature helps users to keep track of any pricing negotiations that have taken place",
        "operationId" : "getPricingAdjustment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "baseContractReference",
          "in" : "path",
          "description" : "Contains the identifier for the contract or account in which the event is raised. This would typically be a unique reference to identify the specific contract or account in the system",
          "required" : true,
          "type" : "string",
          "example" : "AA23108GMCQ0"
        }, {
          "name" : "systemReference",
          "in" : "query",
          "description" : "Contains the identifier for the system in which the event originated from. For ex, ‘Hogan’ or ‘TransactAccounts’ etc",
          "required" : true,
          "type" : "string",
          "example" : "coretransact"
        }, {
          "name" : "companyReference",
          "in" : "query",
          "description" : "Contains the identifier of the underlying Entity or Company or Branch",
          "required" : true,
          "type" : "string",
          "example" : "GB0010001"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PricingAdjustmentResponse",
            "schema" : {
              "$ref" : "#/definitions/PricingAdjustmentResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request"
        }
      }
    },
    "PackageStatementResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PackageStatementResponseBody"
        }
      },
      "description" : "PackageStatementResponse"
    },
    "PackageStatementResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "packagePricing" : {
            "type" : "array",
            "description" : "Contains the pricing details of package such as base value, adjust value, net value. It may also include arrangement id, product line and benefits",
            "items" : {
              "type" : "object",
              "properties" : {
                "date" : {
                  "type" : "string",
                  "description" : "Indicates the date on which activity was performed",
                  "example": "20230418"
                  
                },
                "arrangementId" : {
                  "type" : "string",
                  "description" : "Indicates an unique identifier of an account",
                  "example": "AA23108MGNRG"
                },
                "productLine" : {
                  "type" : "string",
                  "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products.",
                  "example": "EPP"
                },
                "pricingType" : {
                  "type" : "string",
                  "description" : "Indicates the pricing type such as Debit,Credit",
                  "example": "CREDIT"
                },
                "propertyName" : {
                  "type" : "string",
                  "description" : "Indicates the  property description to which benefit has been applied",
                  "example": "IntCredit"
                },
                "baseValue" : {
                  "type" : "string",
                  "description" : "Indicates the actual value such as fees or interest applicable for an event",
                  "example": "45"
                },
                "adjustValue" : {
                  "type" : "string",
                  "description" : "Indicates the value by which base value has to be adjusted due to any pricing benefits",
                  "example": "5"
                },
                "netValue" : {
                  "type" : "string",
                  "description" : "Indicates the final adjusted net value. For example NetValue is  sum or difference of BaseValue and AdjustValue",
                  "example": "50"
                },
                "packageBenefitValue" : {
                  "type" : "string",
                  "description" : "Indicates the total  benefit amount when packaged",
                  "example": "5"
                },
                "packageBenefitName" : {
                  "type" : "string",
                  "description" : "Indicates the benefit names when packaged",
                  "example": "Customer Segment"
                }
              }
            }
          },
          "totalPackageFees" : {
            "type" : "string",
            "description" : "Indicates the net pricing benefit amount  of package when pricing type is debit",
            "example": "60"
          },
          "totalPackageCredits" : {
            "type" : "string",
            "description" : "Indicates the net pricing benefit amount of package when pricing type is credit",
            "example": "45"
          },
          "netPackageSavings" : {
            "type" : "string",
            "description" : "Indicates the  total  benefit amount of the package",
            "example": "5"
          },
          "totalOriginalFees" : {
            "type" : "string",
            "description" : "Indicates the summation  of baseValue, adjustvalue, package benefit Value when pricing type is debit",
            "example": "60"
          },
          "totalFeeBenefits" : {
            "type" : "string",
            "description" : "Indicates the total  Package benefit amount  when pricing type is debit.",
            "example": "0"
          },
          "totalOriginalCredits" : {
            "type" : "string",
            "description" : "Indicates the summation  of baseValue, adjustvalue, package benefit Value when pricing type is credit.",
            "example": "45"
          },
          "totalCreditBenefits" : {
            "type" : "string",
            "description" : "Indicates the total  Package benefit amount  when pricing type is credit",
            "example": "5"
          },
          "netOriginalCost" : {
            "type" : "string",
            "description" : "Indicates the net original cost i.e difference of fees and credits",
            "example": "10"
          },
          "totalBenefits" : {
            "type" : "string",
            "description" : "Indicates the total benefit value when the contracts are not part of the package",
            "example": "5"
          },
          "netSavings" : {
            "type" : "string",
            "description" : "Indicates the summation of total pricing values and benefit values  when the contracts are packaged",
            "example": "5"
          },
          "totalPackageSavings" : {
            "type" : "string",
            "description" : "Indicates the summation between net savings and net package savings",
            "example": "5"
          },
[...]
